
<div class="container">
    <div class="corpo">
        <div class="row overflownone">
            <div class="col-md-4 information nopaddingleft nopaddingright hidden-sm hidden-xs">
                <ul class="information_menu">
                    <li class="active" data-id="2"><a href="#"><i class="fa fa-calendar-plus-o"></i>Quem Somos</a></li>
                    <li data-id="3"><a href="#"><i class="fa fa-calendar-plus-o"></i>Referência</a></li>
                    <li data-id="6"><a href="#"><i class="fa fa-calendar-plus-o"></i>Serviço</a></li>
                    <li data-id="7"><a href="#"><i class="fa fa-calendar-plus-o"></i>Áreas</a></li>
                    <li data-id="8"><a href="#"><i class="fa fa-calendar-plus-o"></i>Obras</a></li>
                    <li data-id="4"><a href="#"><i class="fa fa-calendar-plus-o"></i>Corpo Técnico</a></li>
                </ul>
            </div>
            <div class="col-md-8 nopaddingleft nopaddingright">
                <div class="slideshow">
                    <div class="overlay-id2 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">EMPREITEIRA E COMERCIO SISTEMPLAM Ltda.</P></li>
                            <li><P class="textobranco">CNPJ: 11.788.795/0001-60</P></li>
                            <li><P class="textobranco">IE: 675.187.177-113</P></li>
                            <li><P class="textobranco">Rua Orlando Albuquerque Orlandino, 86 JD. Pinheiros -Taboão da Serra</li>
                        </ul>
                    </div>
                    <div class="overlay-id3 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">&bull;&nbsp;M.M.C. Automotores do Brasil Ltda (Mitsubishi)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Tel: (011)- 5694-2748 ( Tenente Cláudio)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;M. Cassab (Produtos Alimenticios)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Tel. (011) 5522-7788 Sr. João</P></li>
                        </ul>
                    </div>
                    <div class="overlay-id4 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">&bull;&nbsp; Sra. Luciana dos Santos Magalhães ( Sócio Diretor)</P></li>
                            <li><P class="textobranco">&bull;&nbsp; Sr.José Alves de Souza (Diretor Comercial)</P></li>
                            <li><P class="textobranco">&bull;&nbsp; Sr. Edson Kapp ( Engenheiro)</P></li>
                            <li><P class="textobranco">&bull;&nbsp; Técnico de Segurança: Assis C. Silva</P></li>
                            <li><P class="textobranco">&bull;&nbsp; Sr. Ailton Almeida Souza (Orçamentista)</P></li>
                        </ul>
                    </div>
                    <div class="overlay-id6 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">&bull;&nbsp;Construções e Reformas Civis em estrutura metálica e concreto convencional</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Execução de praças e jardins</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Pinturas de guias, sarjetas e pavimentação em blocos articulados de concreto</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Pinturas internas e externas  e de fachadas</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Instalação elétrica predial de alta e baixa tensão</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Instalações hidráulicas</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Paisagismo</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Restauração predial</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Limpeza de fachadas</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Obras Corporativas (escritórios e etc...)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Obras Implantação de Lojas</P></li>
                        </ul>
                    </div>
                    <div class="overlay-id7 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">&bull;&nbsp;Construções Habitacionais, comerciais e  industriais;</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Gerenciamento , fiscalização e administração de obras</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Programas: (PPRA,PCMSO,PPP,PCMAT)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Laudos Técnicos: Elétricos, Pára-Raios,LTCAT</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Treinamentos:Cipa, Brigada de Incêndio,EPI’S</P></li>
                        </ul>
                    </div>
                    <div class="overlay-id8 overlay-item">
                        <ul class="quickmenu">
                            <li><P class="textobranco">&bull;&nbsp;Construção de Teatro Record ( Construção de ciclorama)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Rede de Hotéis Blue Tree Towers ( Reforma de Apartamentos e outros)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Manutenção do Terminal Jabaquara do Metrô ( Linha de tubulação de distribuição de água)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Construção do estúdio de jornalismo da rádio Record</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Aço Inoxidável Artéx S/A (Construção de fossa séptica)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Mitsubishi Motors do Brasil (Reforma geral e construção de estacionamento)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Cia Transamérica de Hotéis (Reforma da Cozinha Industrial)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Indaco  Indústria e Comércio Ltda.( Pintura da Fábrica)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Sleever Internacional Ltda. (Pintura Interna da fábrica)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Peugeot do Brasil Ltda ( Terraplanagem do Terreno construção de pista com guias e sarjetas)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Brabus  Comércio de Veículos Ltda.( Reforma de Show Room)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Bicicletas Caloi Ltda. ( Reforma interna e externa da caixa d’água)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Yale La Fonte Sistemas de Segurança Ltda. ( Colocação de piso na fábrica)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Igreja Universal do Reino de Deus (Construção da sede)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;ICS Internacional – Component Supply Ltda. (Reforma da fábrica em Cajamar)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Igreja Universal do Reino de Deus. (Reformas em várias Iurds.)</P></li>
                            <li><P class="textobranco">&bull;&nbsp;Hospital Santa Cruz (Reforma Geral)</P></li>
                        </ul>
                    </div>
                </div>

                <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/Foto/Imagem1.jpg" center class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="~/images/Foto/Imagem2.jpg" center class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="~/images/Foto/Imagem3.jpg" center class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="~/images/Foto/Imagem4.jpg" class="img-responsive" alt="" />
                        </div>
                        <div class="item">
                            <img src="~/images/Foto/Imagem5.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row visible-xs visible-sm ">
        <div class="col-md-12 mobile-menu-bg">
            <ul class="information_menu_mobile">
                <li class="active"><a href="#"><i class="fa fa-calendar-plus-o"></i> <span class="hidden-xs">Lorem ipsum</span></a></li>
                <li><a href="#"><i class="fa fa-commenting-o"></i> <span class="hidden-xs">Praesent posuere</span></a></li>
                <li><a href="#"><i class="fa fa-medkit"></i> <span class="hidden-xs">Phasellus imperdiet</span></a></li>
                <li><a href="#"><i class="fa fa-heartbeat"></i> <span class="hidden-xs">In accumsan</span></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

